@inherits LayoutComponentBase
@inject IHeaderService HeaderService

<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <!-- Поисковая строка (фиксированная) -->
    <ProductSearchBar />
    <!-- Контент страницы -->
    @Body

</body>
</html>

@code{
    protected override void OnInitialized()
    {
        HeaderService.HeaderChanged += StateHasChanged;
    }

    public void Dispose()
    {
        HeaderService.HeaderChanged -= StateHasChanged;
    }
}