@using VitzShop.Infrastructure.Services
@using VitzShop.Domain.Entities
@using Microsoft.AspNetCore.Components
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms

@attribute [Authorize(Roles = "Admin,Manager")]
@page "/admin/categories/new"
@inject ProductService ProductService
@inject CategoriesService CategoriesService
@inject NavigationManager Navigation
@rendermode InteractiveServer

<h1 class="mb-4"><i class="bi bi-plus-circle"></i> Добавление новой категории</h1>

<EditForm Model="@Category" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <!-- Основная информация -->
    <div class="card mb-4">
        <div class="card-header bg-primary text-white">Основная информация</div>
        <div class="card-body row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Название категории</label>
                <InputText class="form-control" @bind-Value="Category.Name.Value" />
            </div>
            
        </div>
    </div>
    <!-- Кнопки -->
    <div class="d-flex justify-content-between">
        <button type="reset" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-counterclockwise"></i> Очистить
        </button>
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-save"></i> Сохранить
        </button>
    </div>
</EditForm>

@code {
    private Category Category = new();
        
    async Task HandleValidSubmit()
    {
        await CategoriesService.AddCategoryAsync(Category);
        Navigation.NavigateTo("/admin/categories");
    }
}

