@    using VitzShop.Infrastructure.Services
@    using VitzShop.Core.Entities
@    using Microsoft.AspNetCore.Components
@    using System.ComponentModel.DataAnnotations
@    using Microsoft.AspNetCore.Components.Forms

@page "/admin/categories/edit/{id:int}"
@attribute [Authorize(Roles = "Admin,Manager")]
@inject ProductService ProductService
@inject CategoriesService CategoriesService
@inject NavigationManager Navigation
@rendermode InteractiveServer

<h1 class="mb-4"><i class="bi bi-plus-circle"></i> Редактирование товара</h1>

@if (IsLoading)
{
    <p>Загрузка...</p>
}
else if (EditCategory == null)
{
    <p class="text-danger">Товар не найден</p>
}
else
{
    <EditForm Model="@EditCategory" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <!-- Основное -->
        <label class="form-label">Название</label>
        <InputText class="form-control mb-3" @bind-Value="EditCategory.Name" />
        <label class="form-label">Фото</label>
        <InputFile OnChange="HandleMainImageEdit" accept="image/*" />
        <button class="btn btn-primary" type="submit">Сохранить</button>
    </EditForm>
}

@code {
    [Parameter]
    public int id { get; set; }

    private Category? EditCategory;
    private bool IsLoading = true;

    protected override async Task OnInitializedAsync()
    {
        EditCategory = await CategoriesService.GetCategoryByIdAsync(id);
        IsLoading = false;
    }

    private async Task HandleValidSubmit()
    {
        await CategoriesService.UpdateCategoryAsync(EditCategory!);
        Navigation.NavigateTo("/admin/categories");
    }

    private async Task HandleMainImageEdit(InputFileChangeEventArgs e)
    {
        var mainPhoto = "wwwroot/" + EditCategory.ImageUrl;
        if (File.Exists(mainPhoto))
        {
            File.Delete(mainPhoto);
            Console.WriteLine($"Файл {mainPhoto} удален");
        }
        else
        {
            Console.WriteLine($"Файл по пути {mainPhoto} не найден");
        }


        var file = e.File;

        var trustedName = Path.GetRandomFileName() + Path.GetExtension(file.Name);
        var path = Path.Combine("wwwroot/Images", trustedName);

        using var stream = File.Create(path);
        await file.OpenReadStream().CopyToAsync(stream);

        EditCategory.ImageUrl = $"/Images/{trustedName}";
    }
}
