@using VitzShop.Services
@using VitzShop.Data.Models
@using Microsoft.AspNetCore.Components

@attribute [Authorize(Roles = "Admin,Manager")]
@page "/admin/categories"
@inject ProductService ProductService
@inject CategoriesService CategoriesService
@inject NavigationManager Navigation
@rendermode InteractiveServer

<h2>Управление товарами</h2>

<button class="btn btn-primary mb-3" @onclick="AddCategory">Добавить Категорию</button>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Categories)
        {
            <tr>
                <td>@category.Name</td>
                <td>
                    <button class="btn btn-sm btn-warning" @onclick="() => EditCategory(category.Id)">Редактировать</button>
                    <button class="btn btn-sm btn-danger" @onclick="() => DeleteCategory(category)">Удалить</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Category> Categories = new();

    protected override async Task OnInitializedAsync()
    {
        Categories = await CategoriesService.GetAllCategoriesAsync();
    }

    private void AddCategory()
    {
        Navigation.NavigateTo("/admin/categories/new");
    }

    private void EditCategory(int id)
    {
        Navigation.NavigateTo($"/admin/categories/edit/{id}");
    }

    private async Task DeleteCategory(Category category)
    {

        await CategoriesService.DeleteCategoryAsync(category);
        Categories = await CategoriesService.GetAllCategoriesAsync();
    }
}
