@page "/"

<!-- Главная страница -->
@inject NavigationManager Navigation
@rendermode InteractiveServer

<h1 class="mb-4">Добро пожаловать в VitzShop!</h1>

<div class="d-flex gap-4 mb-4">
    <button class="btn btn-primary" @onclick='() => NavigateToGender("Женский")'>Женские товары</button>
    <button class="btn btn-secondary" @onclick='() => NavigateToGender("Мужской")'>Мужские товары</button>
</div>


<span class="footer-text">
    VITZ — это воплощение элегантности, инноваций и безупречного качества. Наш бренд создан для тех, кто ценит стиль, комфорт и внимание к деталям. Каждая вещь от VITZ — это результат кропотливой работы дизайнеров и мастеров, которые вдохновляются современными трендами, но при этом остаются верны классическим канонам.

    Мы используем только премиальные материалы и передовые технологии производства, чтобы гарантировать долговечность и комфорт наших изделий. VITZ — это не просто одежда, это стиль жизни, который подчеркивает вашу индивидуальность и уверенность в себе.

    Выбирая VITZ, вы выбираете исключительное качество, утонченный дизайн и непревзойденный комфорт. Ведь настоящая роскошь — это когда каждая деталь идеальна.
</span>

@code {
    private void NavigateToGender(string gender)
    {
        Navigation.NavigateTo($"/productcatalog/{gender}");
    }
}
