@page "/"

<!-- Главная страница -->

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-14">
            <div id="carouselMain" class="carousel slide overflow-hidden rounded" data-bs-ride="carousel">

                <!-- Индикаторы -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="2"></button>
                </div>

                <!-- Слайды с фиксированной высотой -->
                <div class="carousel-inner ratio ratio-16x9">
                    <div class="carousel-item active h-100">
                        <img src="/Images/carousel1.jpg" class="img-fluid object-fit-cover w-100 h-100" alt="Slide 1">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="/Images/carousel2.jpg" class="img-fluid object-fit-cover w-100 h-100" alt="Slide 2">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="/Images/carousel3.jpg" class="img-fluid object-fit-cover w-100 h-100" alt="Slide 3">
                    </div>
                </div>

                <!-- Кнопки управления -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselMain" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselMain" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>

            </div>
        </div>
    </div>
</div>

<div class="text-center mt-5">
    <h1>Добро пожаловать в VITZ Shop!</h1>
    <p class="lead">Стиль. Качество. Комфорт.</p>
</div>

@code {

}
