@inject NavigationManager Navigation
@rendermode InteractiveServer



<form class="form-navigation input-group" style="width: 50vw; min-width: 250px;"  @onsubmit="NavigateToSearch" @onsubmit:preventDefault>

        <input @bind="SearchTerm" class="form-control form-control-sm smaller-search" type="search" placeholder="Поиск..." aria-label="Search" style="color: #fff" >

        <button @onclick='() => NavigateToSearch()' class="btn btn-outline-secondary" type="button">
            <i class="bi bi-search"></i>
        </button>
        <!-- Кнопка-триггер с правильными атрибутами -->
        <button class="btn btn-outline-secondary" type="button"
                data-bs-toggle="dropdown">
            <i class="bi bi-list"></i>
        </button>
        <!-- Выпадающее меню с правильной структурой -->
        <ul class="dropdown-menu w-100 p-0 m-0">
            <li><a class="dropdown-item py-3" href="/productcatalog">Каталог</a></li> <!-- py-3 - отступ сверху/снизу -->
            <li><a class="dropdown-item py-3" href="/productcatalog/Женский">Женские товары</a></li>
            <li><a class="dropdown-item py-3" href="/productcatalog/Мужской">Мужские товары</a></li>
        </ul>
</form>

@code {
    private string SearchTerm = string.Empty;

    private void NavigateToSearch()
    {
        Console.WriteLine("Переход на страницу поиска с: " + SearchTerm);
        if (!string.IsNullOrWhiteSpace(SearchTerm))
        {
            Navigation.NavigateTo($"/productsearch?search={Uri.EscapeDataString(SearchTerm)}");
        }
    }
}